@font-face {
    src: url('font.ttf');
}

.root {
    -fx-font-family: "Supercell-Magic";
}

#progress-bar-label {
    -fx-font-size: 9;
    -fx-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 1, 10, 0, 0);
}

#map-tile {
    -fx-opacity: 0;
}

#map-tile:hover {
    -fx-opacity: .2;
}

#entity-image-holder, #building-image-holder {
    -fx-background-color: transparent;
}

#building-image-holder:focused {
    -fx-effect: innershadow( three-pass-box , rgba(9, 202, 255, 1), 10, 0.2 , 0 , 1 );

}

#popup-view *.text{
    -fx-text-fill: white;
}

#scroll-menu {
    -fx-background-color: transparent;
}

#scroll-menu .viewport {
    -fx-background-color: transparent;
}

#glass-pane {
    -fx-background-color: rgba(0, 0, 0, 0.8);
}

#thin-glass-pane {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

#popup-title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 1, 10, 0, 0);
}

#yellow-fancy-button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #fcc309 0%, #fd9808 100%),
    #f99508,
    #ffeb17,
    radial-gradient(center 50% 50%, radius 100%, #ffdd09, #fcc309);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 10;
}

#red-fancy-button {
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 100;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
    #9d4024,
    #d86e3a,
    radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

#blue-fancy-button {
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 100;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #09e0fc 0%, #08fded 100%),
    #08f9e8,
    #17c1ff,
    radial-gradient(center 50% 50%, radius 100%, #09caff, #09e0fc);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

#round-fancy-button-label {
    -fx-font-size: 10;
    -fx-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 1, 10, 0, 0);
}

#red-round-button, #green-round-button, #yellow-round-button {
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 2, 0, 0, 1);
}

#red-round-button:focused, #green-round-button:focused, #yellow-round-button:focused {
    -fx-effect: dropshadow(gaussian, rgba(9, 202, 255, 1), 2, 0, 0, 1);
}

#green-round-button .text, #red-round-button .text, #yellow-round-button .text, #stroke-text {
    -fx-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 1, 10, 0, 0);
}

#error {
    -fx-text-fill: #EA2027;
}

#success {
    -fx-text-fill: #009432;
}

#info {
    -fx-text-fill: #0652DD;
}

#red-round-button {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
}

#green-round-button {
    -fx-background-color: linear-gradient(#b8ee36, #80c800);
}

#yellow-round-button {
    -fx-background-color: linear-gradient(#ffdd09, #fcc309);
}

#toggle-button {
    -fx-background-color: silver;
}

#number-badge {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 50;
    -fx-font-size: 10;
    -fx-padding: 0 5 0 5;
    -fx-text-fill: white;
}

.progress-bar .track {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar .bar {
    -fx-padding: 5;
}

#green-bar {
    -fx-accent: limegreen;
}

#gold-bar {
    -fx-accent: gold;
}

#orange-bar {
    -fx-accent: orange;
}

#red-bar {
    -fx-accent: red;
}

#violet-bar {
    -fx-accent: darkviolet;
}

#blue-bar {
    -fx-accent: dodgerblue;
}

.scroll-bar {
    -fx-pref-width: 17;
    -fx-padding: 3;
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.scroll-bar .increment-button:pressed, .increment-button:hover {
    -fx-background-color: transparent;
}

.scroll-bar .decrement-button:pressed, .decrement-button:hover {
    -fx-background-color: transparent;

}

.scroll-bar, .scroll-bar:pressed, .scroll-bar:focused {
    -fx-font-size: 15;
}

.tab-header-background {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-padding: 0;
}

.tab-pane .tab {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-insets: 0, 0 0 1 0;
}

.tab-pane .tab:selected, .tab-pane .tab:focused {
    -fx-background-color: rgba(0, 0, 0, 0.35);
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.table-view{
    -fx-background-color: rgba(0,0,0,0.8);
}

.table-view:focused{
    -fx-background-color: rgba(0,0,0,0.8);
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-padding: 5 0 5 0;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-background-insets: 0;
}

.table-column {
    -fx-background-insets: 0;
}

.table-row-cell{
    -fx-background-color: rgba(0,0,0, 0.3);
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:odd{
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: rgba(9, 202, 255, 1);
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}